.App {
  text-align: center;
  padding: 5px;
}

.container {
  padding: 20px;
  max-width: 2200px;
  margin: 0 auto;
}

h2, h3 {
  color: #4CAF50;
  margin-top: 20px;
}

.total-row {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.datatable-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerProcentaje{
  display: flex;
  justify-content: space-between;
}

.messageFooter{
  margin-top: 15px;
}
.salario-info{
  display: flex;
  justify-content: center;
  align-items: center;
}

.invalidState{
  color: #e24c4c;
  margin-top: 3px;
}

.diagonal-divider {
    position: absolute;
    right: 30%;
    top: 0;
    height: 100%;
    width: 60px;
    background: transparent;
    z-index: 15;
    pointer-events: none;
}
.diagonal-divider::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 4px;
    background: linear-gradient(75deg, #6366f1 60%, #a78bfa 100%);
    transform: skewY(-75deg);
    border-radius: 2px;
}